#container{
	margin: 0 auto;
	text-align: center;
}

body{
	background-color: #f4f497;
	font-size: 16px;
	font-family: Ariel , sans-serif;
	color: #7accb3;
}

#box{
	height: 100px;
	width: 100px;
	background-color: #e9c9ff;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
	border: solid 4px #d18cff;
	position: relative;
}

#circle{
	height: 200px;
	width: 200px;
	background-color: black;
	border-radius: 50%;
	margin: 0 auto;
	top: 30px;
	position: relative;
}

.up{
	height: 40px;
	width: 40px;
	top: 30px;
	left: 65px;
	position: relative;
}

.left{
	height: 40px;
	width: 40px;
	top: 80px;
	left: -35px;
	position: relative;
}

.right{
	height: 40px;
	width: 40px;
	top: 80px;
	right: 10px;
	position: relative;
}

.down{
	top: 130px;
	height: 40px;
	width: 40px;
	right: 25px;
	position: relative;
}